@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    /* padding이나 border 크기가 영항 안 가게 초기화 */
    box-sizing: border-box;
}
/* li 앞에 특수문자 초기화 */
li{
    list-style: none;
}
/* 글자에 하이퍼링크 아래 밑줄 초기화 */
a { text-decoration: none; color: inherit; }

ul { list-style: none; }

img { display: block; width: 100%; }

