@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "맑은 고딕";
    margin: 0 auto;
    text-align: center;
}

h1{
    margin: 16px auto;
}

.youtube_wrap{
    width: 1888px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 16px auto;
}

.youtube_wrap .yoytube{
    width: 500px;
    height: 400px;
}