<header class="site-header" id="siteHeader">
  <div class="top-util">
    <div class="wrap">
      <a href="./login.html" class="login-link"><img src="./images/login.png" alt="로그인 아이콘" class="login-icon" />로그인</a>
      <span class="util-divider" aria-hidden="true"></span>
      <a href="./join.html">회원가입</a>
      <span class="util-divider" aria-hidden="true"></span>
      <a href="./mypage.html">마이페이지</a>
    </div>
  </div>

  <div class="wrap header-main">
    <a href="./index.html" class="logo" aria-label="한국한복문화예술협회 홈">
      <img src="./images/pc_logo.png" alt="한국한복문화예술협회" class="logo-img" />
    </a>

    <nav class="gnb" aria-label="주 메뉴">
      <ul>
        <li><a href="#about" data-menu="about">협회소개</a></li>
        <li><a href="#promo" data-menu="promo">홍보광장</a></li>
        <li><a href="#artist" data-menu="artist">아젤리아패션그룹</a></li>
        <li><a href="#exchange" data-menu="exchange">국제교류체험관</a></li>
        <li><a href="#donate" data-menu="donate">나눔과기쁨 &amp; 복지관</a></li>
        <li><a href="#partner" data-menu="partner">협력기관</a></li>
      </ul>
    </nav>

    <button type="button" class="menu-btn" id="menuBtn" aria-label="메뉴 열기"><span></span></button>

    <div class="mobile-panel" id="mobilePanel" aria-label="모바일 하위 메뉴">
      <div class="mobile-menu-list">
        <div class="mobile-menu-group is-open">
          <button type="button" class="mobile-menu-trigger" aria-expanded="true">협회소개<span class="mobile-arrow" aria-hidden="true"></span></button>
          <ul class="mobile-submenu">
            <li><a href="#about">협회소개</a></li>
            <li><a href="#about-greeting">인사말</a></li>
            <li><a href="#about-history">연혁</a></li>
            <li><a href="#about-org">조직도</a></li>
            <li><a href="#about-location">오시는 길</a></li>
          </ul>
        </div>
        <div class="mobile-menu-group">
          <button type="button" class="mobile-menu-trigger" aria-expanded="false">홍보광장<span class="mobile-arrow" aria-hidden="true"></span></button>
          <ul class="mobile-submenu">
            <li><a href="#notice">공지사항</a></li>
            <li><a href="#press">언론보도</a></li>
            <li><a href="#gallery">갤러리</a></li>
            <li><a href="#video">영상</a></li>
          </ul>
        </div>
        <div class="mobile-menu-group">
          <button type="button" class="mobile-menu-trigger" aria-expanded="false">아젤리아패션그룹<span class="mobile-arrow" aria-hidden="true"></span></button>
          <ul class="mobile-submenu">
            <li><a href="#brand">브랜드 소개</a></li>
            <li><a href="#azalea-dress">아젤리아 드레스</a></li>
            <li><a href="#azalea-hanbok">아젤리아 궁중한복</a></li>
            <li><a href="#azalea-kids">아젤리아 키즈</a></li>
            <li><a href="#azalea-awards">아젤리아 패션쇼 &amp; 어워즈</a></li>
            <li><a href="#azalea-art">아젤리아 예술단</a></li>
          </ul>
        </div>
        <div class="mobile-menu-group">
          <button type="button" class="mobile-menu-trigger" aria-expanded="false">국제교류체험관<span class="mobile-arrow" aria-hidden="true"></span></button>
          <ul class="mobile-submenu">
            <li><a href="#magazine">아젤리아 메거진</a></li>
            <li><a href="#tv">아젤리아 TV 방송</a></li>
            <li><a href="#enter">아젤리아 엔터</a></li>
            <li><a href="#event">국내 · 국제교류 기획 공연 이벤트</a></li>
            <li><a href="#hanbok-experience">국제교류한복체험</a></li>
            <li><a href="#forum">전통한문화포럼</a></li>
          </ul>
        </div>
        <a href="#donate" class="mobile-menu-link">나눔과기쁨 &amp; 복지관</a>
        <a href="#partner" class="mobile-menu-link">협력기관</a>
      </div>
      <div class="mobile-menu-util">
        <a href="./login.html"><img src="./images/login.png" alt="로그인 아이콘" />로그인</a>
        <span aria-hidden="true"></span>
        <a href="./join.html">회원가입</a>
        <span aria-hidden="true"></span>
        <a href="./mypage.html">마이페이지</a>
      </div>
    </div>
  </div>

  <div class="mega-menu" id="megaMenu" aria-label="하위 메뉴">
    <div class="mega-inner">
      <div class="mega-title" id="megaTitle">협회소개</div>
      <div class="mega-list" id="megaList"></div>
    </div>
  </div>
</header>